 

*{
    box-sizing: border-box;
  }
  
  header {
    background-color: darkgray;
    
  }
   nav  {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 960px;
   margin: auto;
   
  }
  
  nav > a {
    height: 70px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    width: 80px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: #111;
  }
  main {
    background-color: gray;
  }
  body {
    background-color: gray;
  }
  main > section {
    background-color: gray;
    border: 10px solid purple;
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
  }
  
  main img {
    margin-bottom: 30px;
  }
  
  footer {
    background-color: beige;
    height: 100px;
  }
  
  article {
    width: 450px;
  }
  
  article section {
    height: 320px;
    overflow: auto;
  }
  
  article a {
    background-color: #333;
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  